---
import { IconBrandAdobeIllustrator, IconBrandAdobePhotoshop, IconBrandAstro, IconBrandCss3, IconBrandFlipboard, IconBrandHtml5, IconBrandJavascript, IconBrandReact, IconBrandShopee } from "@tabler/icons-react";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import TextBlock from "../components/TextBlock.astro";
import Spacer from "../components/Spacer.astro";
import ContactForm from "../components/ContactForm.astro";
import GlossaryEntry from "../components/GlossaryEntry.astro";
import LogoItem from "../components/LogoItem.astro";

import { Image } from "astro:assets";
import khoshicon from "../assets/media/khosh-icon.png";
import kingswayicon from "../assets/media/kingsway-icon.png";
import snapesicon from "../assets/media/snapes-logo.png";
import socountiesicon from "../assets/media/so-counties.png";
import arc from "../assets/media/logos/arc.png";
import epc from "../assets/media/logos/epc.png";
import frothee from "../assets/media/logos/frothee.png";
import kitsu from "../assets/media/logos/kitsu.png";
import pedalpower from "../assets/media/logos/peddle-power.png";

const meta_desc = "Freelance brand identity designer & web developer based in the UK. Bespoke brand strategy, logo & visual identity design, brochure and e-commerce websites for small independent businesses.";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout desc={meta_desc}>
  <Header />
  <Hero />

  <TextBlock title="Does your brand speak your buyer's language?">
    <p>Without a clear brand strategy, even the strongest businesses struggle to stand out. Mixed messages, inconsistent visuals, and unclear positioning make it harder for customers to understand your value and even easier for competitors to take your place.</p>
    <p>
      A strategic brand changes that. With your purpose, personality, and positioning clearly defined, every interaction becomes more powerful. You communicate with confidence, attract the right audience, and build trust faster. Consistency turns into recognition, and recognition turns into revenue.
    </p>
    <p>I work with ambitious independent business owners to uncover the core attributes that make their brand meaningful and different. Through a focused brand strategy process, we define your message, sharpen your positioning, and identify the unique value you bring to the market.</p>
    <p>From there, I translate these insights into a cohesive visual identity and design system that amplifies your presence and supports real business growth.</p>
    <p>With clarity and strategy behind your brand, you won't get lost in translation.</p>
    <a href="#contact-form" class="button-primary">Get in touch</a>
  </TextBlock>
  <Spacer />
  <div class="max-width">
    <blockquote>Thinking about design is hard, but not thinking about it can be disastrous <cite> Ralph Caplan</cite></blockquote>
  </div>
  <Spacer />
  <TextBlock title="Previous works">
    <div class="previous-work--grid">
      <LogoItem title="Kingsway Cars" img={kingswayicon} index="1" link="/previous-work/kingsway-cars" />
      <LogoItem title="Arc Property Development" img={arc} index="2" />
      <LogoItem title="Snape & Sons" img={snapesicon} index="3" link="/previous-work/snape-and-sons" />
      <LogoItem title="Endangered Panda Conservation" img={epc} index="4" />
      <LogoItem title="The Frothee Coffee Co." img={frothee} index="5" />
      <LogoItem title="Kitsu Kids" img={kitsu} index="6" />
      <LogoItem title="So Counties" img={socountiesicon} index="7" link="/previous-work/so-counties" />
      <LogoItem title="Pedal Power" img={pedalpower} index="8" />
      <LogoItem title="Khosh Clothing" img={khoshicon} index="9" link="/previous-work/khosh-clothing" />
    </div>
  </TextBlock>
  <Spacer />
  <TextBlock title="Technical skills">
    <div class="skills-grid">
      <div class="skills"><IconBrandAdobeIllustrator stroke={1} /><small>1/</small></div>
      <div class="skills"><IconBrandAdobePhotoshop stroke={1} /><small>2/</small></div>
      <div class="skills"><IconBrandHtml5 stroke={1} /><small>3/</small></div>
      <div class="skills"><IconBrandCss3 stroke={1} /><small>4/</small></div>
      <div class="skills"><IconBrandJavascript stroke={1} /><small>5/</small></div>
      <div class="skills"><IconBrandReact stroke={1} /><small>6/</small></div>
      <div class="skills"><IconBrandAstro stroke={1} /><small>7/</small></div>
      <div class="skills"><IconBrandFlipboard stroke={1} /><small>8/</small></div>
      <div class="skills"><IconBrandShopee stroke={1} /><small>9/</small></div>
    </div>
    <ul class="skills-list">
      <li>1/ Adobe Illustrator</li>
      <li>2/ Adobe Photoshop</li>
      <li>3/ HTML5</li>
      <li>4/ CSS3</li>
      <li>5/ Javascript</li>
      <li>6/ React</li>
      <li>7/ Astro</li>
      <li>8/ StrAPI</li>
      <li>8/ Shopify</li>
    </ul>
  </TextBlock>

  <Spacer />
  <TextBlock title="Lets work together!">
    <ContactForm />
  </TextBlock>
  <div class="max-width">
    <blockquote>
      The alternative to good design is bad design. There is no such thing as no design.
      <cite>Adam Judge</cite>
    </blockquote>
  </div>

  <style>
    .skills-grid {
      column-span: all;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
      gap: 1rem;
    }

    .skills-list {
      margin: 2rem 0 0;
      columns: 15ch;
      column-span: all;
      list-style: none;

      & p {
        margin: 0;
        font-size: var(--fs-s);
      }
    }

    .skills svg {
      width: 3rem;
      height: 3rem;
    }

    .tabler-icon-brand-flipboard {
      rotate: 90deg;
    }

    .previous-work--grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-auto-rows: 1fr;
      gap: 2rem;
      margin: auto auto 3rem;
      column-span: all;
    }
  </style>
</Layout>
