---
import { IconBrandAdobeIllustrator, IconBrandAdobePhotoshop, IconBrandAstro, IconBrandCss3, IconBrandFlipboard, IconBrandHtml5, IconBrandReact, IconBrandShopee } from "@tabler/icons-react";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import TextBlock from "../components/TextBlock.astro";
import ContactForm from "../components/ContactForm.astro";
import avatar from "../assets/media/avatar.jpg";
import { Image } from "astro:assets";
import khosh from "../assets/media/khosh.webp";
import kingsway from "../assets/media/kingsway.webp";
import snapes from "../assets/media/snapes.webp";
import socounties from "../assets/media/so-counties.webp";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Hero />
  <TextBlock title="1.1 about me" img={avatar}>
    <p>Hello, Hola, Bonjour. I'm Adam, a freelance visual identity designer and web developer based in t'hills of the Peak District.</p>
    <p>I work with independent businesses to find their voice and express it through strategic design and modern technologies.</p>

    <p>
      Your brand should feel like <i>you</i>, and by working together, we can uncover the heart of your brand. From the logo and colour palette to the way you speak to your customers, everything should work together to make a clear and memorable impression. I&rsquo;ll help you shape that identity so
      it feels natural, professional, and ready to grow.
    </p>
    <p>
      We can then bring all our learnings to life online. I design and build websites that don&rsquo;t just look great, but actually help your business thrive. Using modern best practise for sites that are fast, easy to update, and built to attract your ideal customer. Whether you need a simple
      business site or a full e-commerce setup, I&rsquo;ll make sure it works for you and your customers.
    </p>
    <p>If you&rsquo;re ready to give your brand a clearer voice and a stronger online presence, I&rsquo;d love to chat and see how we can make it happen.</p>
    <a href="#contact-form" class="button-primary">get in touch</a>
  </TextBlock>
  <TextBlock title="1.2 my skills">
    <div class="skills-grid">
      <div class="skills"><IconBrandAdobeIllustrator stroke={1} /><small>1.</small></div>
      <div class="skills"><IconBrandAdobePhotoshop stroke={1} /><small>2.</small></div>
      <div class="skills"><IconBrandHtml5 stroke={1} /><small>3.</small></div>
      <div class="skills"><IconBrandCss3 stroke={1} /><small>4.</small></div>
      <div class="skills"><IconBrandAstro stroke={1} /><small>5.</small></div>
      <div class="skills"><IconBrandFlipboard stroke={1} /><small>6.</small></div>
      <div class="skills"><IconBrandReact stroke={1} /><small>7.</small></div>
      <div class="skills"><IconBrandShopee stroke={1} /><small>8.</small></div>
    </div>
    <div class="skills-list">
      <p>1. Adobe Illustrator</p>
      <p>2. Adobe Photoshop</p>
      <p>3. HTML5</p>
      <p>4. CSS3</p>
      <p>5. Astro</p>
      <p>6. StrAPI</p>
      <p>7. React</p>
      <p>8. Shopify</p>
    </div>
  </TextBlock>
  <TextBlock title="i) quote">
    <blockquote>
      The alternative to good design is bad design. There is no such thing as no design.
      <cite>Adam Judge</cite>
    </blockquote>
  </TextBlock>
  <TextBlock title="2.1 previous works">
    <div class="previous-work--grid">
      <div class="work">
        <Image src={kingsway} alt="Kingsway Cars Branding Project" loading="lazy" densities={[1, 2]} />
        <p>Kingsway Cars</p>
      </div>
      <div class="work">
        <Image src={socounties} alt="So Counties Branding Project" loading="lazy" densities={[1, 2]} />
        <p>So Cheshire</p>
      </div>
      <div class="work">
        <Image src={snapes} alt="Snape & Sons Branding Project" loading="lazy" densities={[1, 2]} />
        <p>Snape & Sons</p>
      </div>
      <div class="work">
        <Image src={khosh} alt="Khosh Clothing Branding Project" loading="lazy" densities={[1, 2]} />
        <p>Khosh Clothing</p>
      </div>
    </div>
  </TextBlock>
  <TextBlock title="3.1 contact me">
    <ContactForm />
  </TextBlock>
</Layout>

<style>
  .skills-grid {
    column-span: all;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skills-list {
    margin: 4rem 0 0;
    columns: 18ch;
    column-span: all;

    & p {
      margin: 0;
      font-size: var(--fs-s);
    }
  }

  .skills svg {
    width: 3rem;
    height: 3rem;
  }

  .tabler-icon-brand-flipboard {
    rotate: 90deg;
  }
  .work {
    margin-bottom: 2rem;

    & p {
      border-top: 1px solid;
      margin-top: 0.5rem;
    }
  }
</style>
