---
import { IconBrandAdobeIllustrator, IconBrandAdobePhotoshop, IconBrandAstro, IconBrandCss3, IconBrandFlipboard, IconBrandHtml5, IconBrandReact, IconBrandShopee } from "@tabler/icons-react";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import TextBlock from "../components/TextBlock.astro";
import ContactForm from "../components/ContactForm.astro";
import GlossaryEntry from "../components/GlossaryEntry.astro";
import LogoItem from "../components/LogoItem.astro";

import avatar from "../assets/media/avatar.jpg";
import htavatar from "../assets/media/half-tone.png";

import { Image } from "astro:assets";
import khoshicon from "../assets/media/khosh-icon.png";
import kingswayicon from "../assets/media/kingsway-icon.png";
import snapesicon from "../assets/media/snapes-logo.png";
import socountiesicon from "../assets/media/so-counties.png";
import arc from "../assets/media/logos/arc.png";
import epc from "../assets/media/logos/epc.png";
import frothee from "../assets/media/logos/frothee.png";
import kitsu from "../assets/media/logos/kitsu.png";
import manchester from "../assets/media/logos/manchester.png";
import packandtrail from "../assets/media/logos/pack-and-trail.png";
import pedalpower from "../assets/media/logos/peddle-power.png";
import quasar from "../assets/media/logos/quasar.png";
import rosscircle from "../assets/media/logos/ross-circle.png";

const meta_desc = "Bespoke graphic design and web development services for small independent businesses that works, from Buxton in the hills of Derbyshire.";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout desc={meta_desc}>
  <Hero />
  <TextBlock title="1.1 about me" img={htavatar} hover={avatar}>
    <p>Hello, Hola, Bonjour. I'm Adam, a freelance visual identity designer and web developer. Nestled in the hills of The Peak District I am based in Buxton, Derbyshire.</p>
    <p>I work with independent businesses to find their voice and express it through strategic design and modern technologies.</p>

    <p>
      Your brand should feel like <i>you</i>, and by working together, we can uncover the heart of your brand. From the logo and colour palette to the way you speak to your customers, everything should work together to make a clear and memorable impression. I&rsquo;ll help you shape that identity so
      it feels natural, professional, and ready to grow.
    </p>
    <p>
      We can then bring all our learnings to life online. I design and build websites that don&rsquo;t just look great, but actually help your business thrive. Using modern best practise for sites that are fast, easy to update, and built to attract your ideal customer. Whether you need a simple
      business site or a full e-commerce setup, I&rsquo;ll make sure it works for you and your customers.
    </p>
    <p>If you&rsquo;re ready to give your brand a clearer voice and a stronger online presence, I&rsquo;d love to chat and see how we can make it happen.</p>
    <a href="#contact-form" class="button-primary">get in touch</a>
  </TextBlock>
  <TextBlock title="1.2 services">
    <GlossaryEntry title="a) Brochure Websites">
      <p>
        Simple websites built with modern tools like <a href="https://strapi.io" target="_blank">Strapi</a> (for easy content management) and <a href="https://astro.build" target="_blank">Astro</a> (for blazing fast loading times). Perfect for showcasing your brand online with style and speed, giving
        you full control to update content easily while delivering a lightning-fast experience for your visitors.
      </p>
    </GlossaryEntry>
    <GlossaryEntry title="b) E-commerce Websites">
      <p>
        Full e-commerce solutions built on <a href="https://www.shopify.com/uk" target="_blank">Shopify</a>. I create online stores that are easy to manage, beautifully designed, and optimized for performance, helping you reach more customers and grow your business with confidence.
      </p>
    </GlossaryEntry>
    <GlossaryEntry title="c) Brand Identity Design">
      <p>Identites that capture who you are and what you stand for. From logos and colour palettes to typography and tone of voice, I create cohesive, memorable identities that connect with your audience and make your business instantly recognisable and trustworthy across every touchpoint.</p>
    </GlossaryEntry>
    <GlossaryEntry title="d) Graphic Design">
      <p>Creative graphic design services for print and digital. From posters and packaging to social media and marketing materials, I craft visuals that communicate clearly, look great, and stay true to your brand.</p>
    </GlossaryEntry>
  </TextBlock>
  <TextBlock title="1.3 my skills">
    <div class="skills-grid">
      <div class="skills"><IconBrandAdobeIllustrator stroke={1} /><small>1/</small></div>
      <div class="skills"><IconBrandAdobePhotoshop stroke={1} /><small>2/</small></div>
      <div class="skills"><IconBrandHtml5 stroke={1} /><small>3/</small></div>
      <div class="skills"><IconBrandCss3 stroke={1} /><small>4/</small></div>
      <div class="skills"><IconBrandAstro stroke={1} /><small>5/</small></div>
      <div class="skills"><IconBrandFlipboard stroke={1} /><small>6/</small></div>
      <div class="skills"><IconBrandReact stroke={1} /><small>7/</small></div>
      <div class="skills"><IconBrandShopee stroke={1} /><small>8/</small></div>
    </div>
    <div class="skills-list">
      <p>1/Adobe Illustrator</p>
      <p>2/Adobe Photoshop</p>
      <p>3/HTML5</p>
      <p>4/CSS3</p>
      <p>5/Astro</p>
      <p>6/StrAPI</p>
      <p>7/React</p>
      <p>8/Shopify</p>
    </div>
  </TextBlock>
  <TextBlock title="i) quote">
    <blockquote>
      The alternative to good design is bad design. There is no such thing as no design.
      <cite>Adam Judge</cite>
    </blockquote>
  </TextBlock>
  <TextBlock title="2.1 previous works">
    <div class="previous-work--grid">
      <LogoItem title="Kingsway Cars" img={kingswayicon} index="1" link="/previous-work/kingsway-cars" />
      <LogoItem title="Arc Property Development" img={arc} index="2" />
      <LogoItem title="Snape & Sons" img={snapesicon} index="3" link="/previous-work/snape-and-sons" />
      <LogoItem title="Endangered Panda Conservation" img={epc} index="4" />
      <LogoItem title="The Frothee Coffee Co." img={frothee} index="5" />
      <LogoItem title="Kitsu Shoes" img={kitsu} index="6" />
      <LogoItem title="So Counties" img={socountiesicon} index="7" link="/previous-work/so-counties" />
      <LogoItem title="City of Manchester" img={manchester} index="8" />
      <LogoItem title="Pedal Power" img={pedalpower} index="9" />
      <LogoItem title="Khosh Clothing" img={khoshicon} index="10" link="/previous-work/khosh-clothing" />
      <LogoItem title="Ross & Circle" img={rosscircle} index="11" />
      <LogoItem title="Quasar" img={quasar} index="12" />
    </div>
  </TextBlock>
  <TextBlock title="3.1 contact me">
    <ContactForm />
  </TextBlock>

  <style>
    .skills-grid {
      column-span: all;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
      gap: 1rem;
    }

    .skills-list {
      margin: 4rem 0 0;
      columns: 18ch;
      column-span: all;

      & p {
        margin: 0;
        font-size: var(--fs-s);
      }
    }

    .skills svg {
      width: 3rem;
      height: 3rem;
    }

    .tabler-icon-brand-flipboard {
      rotate: 90deg;
    }

    .previous-work--grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-auto-rows: 1fr;
      gap: 2rem;
      margin: auto auto 3rem;
    }
  </style>
</Layout>
