---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import TextBlock from "../../components/TextBlock.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const items = await getCollection("previous-work");
  return items.map((item) => ({
    params: { slug: item.slug },
    props: { item },
  }));
}
const { item } = Astro.props;
const { title, about, tags } = item.data;
const { Content } = await item.render();
// Load all images in the previous-work folder
const images = import.meta.glob("../../content/previous-work/*.{jpg,png,jpeg}", {
  eager: true,
});

// Resolve the correct image based on slug
const image = images[`../../content/previous-work/${item.slug}.jpg`];
---

<Layout title={title}>
  <Header title={title} subtitle="Case Study" />
  <div class="case-study max-width">
    <div style="margin-top:-3rem" class="rtf" set:html={about} />

    <TextBlock title="project scope">
      {
        tags && (
          <ul>
            {tags.map((tag) => (
              <li>{tag}</li>
            ))}
          </ul>
        )
      }
    </TextBlock>
    <TextBlock title="project goals">
      <Content />
    </TextBlock>
    {image && <Image src={image.default} alt={title + " visuals"} />}
  </div>
</Layout>

<style is:global>
  .case-study ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    font-size: var(--fs-s);
    column-span: all;
  }

  .case-study li {
    border: 1px solid;
    padding: 0.5rem 1rem;
  }

  .page-section:first-of-type {
    margin-bottom: 0;
  }

  .header {
    margin-bottom: 0;
  }

  .case-study img {
    margin: 2rem auto;
  }
</style>
